/*!
 * Photon Design System (https://github.com/FirefoxUX/design-tokens/)
 */
@import "colors.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: var(--blue-60);
  text-decoration: none;
}

a:active {
  color: var(--blue-70);
}

a:focus {
  border: 1px solid var(--teal-50);
}

a:hover {
  color: var(--blue-70);
  text-decoration: underline;
}

a[href*="://"]::after {
  content: "^";
}

body {
  background-color: var(--grey-10);
  color: var(--grey-90);
  font-family: "system-ui", "Ubuntu", "Segoe UI", "San Francisco";
  font-size: 15px;
  padding: 20px 44px 0;
}

button {
  background-color: var(--grey-30);
  border: none;
  border-radius: 2px;
  font-size: 13px;
  padding: 8px;
  color: var(--grey-90);
}

button:hover {
  background-color: var(--grey-40);
}

button:active {
  background-color: var(--grey-50);
}

button::-moz-focus-inner {
  border: 0;
}

dialog {
  background-color: var(--grey-10);
  border: 1px solid var(--grey-30);
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  color: var(--grey-90);
  padding: 0;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog footer,
dialog section {
  margin: 20px;
}

dialog header {
  background-color: var(--grey-20);
  border-bottom: 1px solid var(--grey-30);
  padding: 10px;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey-30);
}

input {
  border: 1px solid var(--grey-30);
  padding: 4px;
}

input:focus {
  border: 1px solid var(--blue-50);
}

input:invalid {
  border: 1px solid var(--red-50);
}

label {
  font-size: 13px;
}

table {
  border: 1px solid var(--grey-30);
  border-collapse: collapse;
}

td,
th {
  padding: 8px;
}

thead th {
  background-color: var(--grey-20);
  color: var(--grey-50);
  font-weight: normal;
}

tbody tr {
  background-color: white;
}

ul.richlist {
  list-style-type: none;
  padding: 0;
}

ul.richlist li {
  padding: 10px;
}

ul.richlist li:hover {
  background-color: var(--grey-30);
  border-radius: 2px;
}

:disabled {
  opacity: 0.4;
}

.btn-micro {
  font-size: 11px;
}

.btn-primary {
  background-color: var(--blue-60);
  color: white;
}

.btn-primary:hover {
  background-color: var(--blue-70);
}

.btn-primary:active {
  background-color: var(--blue-80);
}

.btn-puffy {
  border-radius: 4px;
  font-size: 15px;
  padding: 16px;
}

.btn-ghost:not(:hover) {
  background: none !important;
}

.card {
  background-color: #fff;
  margin: 1rem 0;
  padding: 0.75rem;
}

.card:empty {
  display: none;
}

.messagebar {
  align-items: center;
  background-color: var(--grey-20);
  border-radius: 3px;
  color: var(--grey-90);
  display: flex;
  font-size: 13px;
  min-height: 32px;
  padding: 4px;
}

.messagebar-attention {
  background-color: var(--teal-50);
  color: var(--teal-90);
}

.messagebar-success {
  background-color: var(--green-50);
  color: var(--green-90);
}

.messagebar-warning {
  background-color: var(--yellow-50);
  color: var(--yellow-90);
}

.messagebar-error {
  background-color: var(--red-50);
  color: white;
}

.messagebar button {
  font-size: 90%;
  height: 24px;
  line-height: 1px;
  text-transform: uppercase;
}

.messagebar-attention button {
  background-color: var(--teal-60);
}

.messagebar-success button {
  background-color: var(--green-60);
}

.messagebar-warning button {
  background-color: var(--yellow-60);
}

.messagebar-error button {
  background-color: var(--red-60);
  color: white;
}

.messagebar-attention button:hover {
  background-color: var(--teal-70);
  color: white;
}

.messagebar-success button:hover {
  background-color: var(--green-70);
  color: white;
}

.messagebar-warning button:hover {
  background-color: var(--yellow-70);
}

.messagebar-error button:hover {
  background-color: var(--red-70);
}

.messagebar-attention button:active {
  background-color: var(--teal-80);
}

.messagebar-success button:active {
  background-color: var(--green-80);
}

.messagebar-warning button:active {
  background-color: var(--yellow-80);
  color: white;
}

.messagebar-error button:active {
  background-color: var(--red-80);
}

.tabs {
  border-bottom: 1px solid var(--grey-30);
}

.tabs a,
.tabs button {
  color: var(--grey-90);
  text-decoration: none;
}

.tabs li {
  display: inline-block;
  list-style-type: none;
  padding: 4px 20px;
}

.tabs li:hover {
  background-color: var(--grey-30);
  border-bottom: 4px solid var(--grey-30);
}

.tabs ul {
  margin: 0;
}

.tabs .active {
  background-color: var(--grey-30);
  border-bottom: 4px solid var(--blue-50);
}

.tabs .active:hover {
  background-color: var(--grey-30);
  border-bottom: 4px solid var(--blue-50);
}

.table-hover tbody tr:hover {
  background-color: var(--grey-20) !important;
}

.table-striped tbody tr:nth-child(even) {
  background-color: var(--grey-10);
}

.shadow-10 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.shadow-20 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.shadow-30 {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.text-success {
  color: var(--green-50);
}

.text-danger {
  color: var(--red-50);
}

.user-select-none {
  -moz-user-select: none;
}
