/*
 * Photon Design System
 */
@import "colors.css";

a {
  color: var(--blue-60);
  text-decoration: none;
}

a:active {
  color: var(--blue-70);
}

a:focus {
  border: 1px solid var(--teal-50);
}

a:hover {
  color: var(--blue-70);
  text-decoration: underline;
}

a[href*="://"]::after {
  content: "^";
}

body {
  background-color: var(--grey-10);
  color: var(--grey-90);
  font-family: "system-ui", "Ubuntu", "Segoe UI", "San Francisco";
  font-size: 15px;
  padding: 20px 44px 0 44px;
}

button {
  background-color: var(--grey-30);
  border: none;
  border-radius: 2px;
  font-size: 13px;
  padding: 8px;
  color: var(--grey-90);
}

button:hover {
  background-color: var(--grey-40);
}

button:active {
  background-color: var(--grey-50);
}

button.micro {
  font-size: 11px;
}

button.primary {
  background-color: var(--blue-60);
  color: white;
}

button.primary:hover {
  background-color: var(--blue-70);
}

button.primary:active {
  background-color: var(--blue-80);
}

button.puffy {
  border-radius: 4px;
  font-size: 15px;
  padding: 16px;
}

dialog {
  background-color: var(--grey-10);
  border: 1px solid var(--grey-30);
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  color: var(--grey-90);
  padding: 0;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog footer,
dialog section {
  margin: 20px;
}

dialog header {
  background-color: var(--grey-20);
  border-bottom: 1px solid var(--grey-30);
  padding: 10px;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey-30);
}

input {
  border: 1px solid var(--grey-30);
  padding: 4px;
}

input:focus {
  border: 1px solid var(--blue-50);
}

input:invalid {
  border: 1px solid var(--red-50);
}

label {
  font-size: 13px;
}

table {
  border: 1px solid var(--grey-30);
  border-collapse: collapse;
}

td,
th {
  padding: 8px;
}

thead th {
  background-color: var(--grey-20);
  color: var(--grey-50);
  font-weight: normal;
}

tbody tr {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: var(--blue-30);
}

ul.richlist {
  list-style-type: none;
  padding: 0;
}

ul.richlist li {
  padding: 10px;
}

ul.richlist li:hover {
  background-color: var(--grey-30);
  border-radius: 2px;
}

:disabled {
  opacity: 0.4;
}

.card {
  background-color: #fff;
  margin: 1rem 0 1rem 0;
  padding: 0.75rem;
}

.card:empty {
  display: none;
}

.message-bar {
  background-color: var(--grey-20);
  border-radius: 3px;
  color: var(--grey-90);
  font-size: 13px;
  padding: 4px;
}

.message-bar.attention {
  background-color: var(--teal-50);
  color: var(--teal-90);
}

.message-bar.success {
  background-color: var(--green-50);
  color: var(--green-90);
}

.message-bar.warning {
  background-color: var(--yellow-50);
  color: var(--yellow-90);
}

.message-bar.error {
  background-color: var(--red-50);
  color: white;
}

.message-bar button {
  font-size: 90%;
  text-transform: uppercase;
}

.message-bar.attention button {
  background-color: var(--teal-60);
}

.message-bar.success button {
  background-color: var(--green-60);
}

.message-bar.warning button {
  background-color: var(--yellow-60);
}

.message-bar.error button {
  background-color: var(--red-60);
  color: white;
}

.message-bar.attention button:hover {
  background-color: var(--teal-70);
}

.message-bar.success button:hover {
  background-color: var(--green-70);
}

.message-bar.warning button:hover {
  background-color: var(--yellow-70);
}

.message-bar.error button:hover {
  background-color: var(--red-70);
}

.message-bar.attention button:active {
  background-color: var(--teal-80);
}

.message-bar.success button:active {
  background-color: var(--green-80);
}

.message-bar.warning button:active {
  background-color: var(--yellow-80);
}

.message-bar.error button:active {
  background-color: var(--red-80);
}

.tabs {
  border-bottom: 1px solid var(--grey-30);
}

.tabs a,
.tabs button {
  color: var(--grey-90);
  text-decoration: none;
}

.tabs li {
  display: inline-block;
  list-style-type: none;
  padding: 4px 20px;
}

.tabs li:hover {
  background-color: var(--grey-30);
  border-bottom: 4px solid var(--grey-30);
}

.tabs ul {
  margin: 0;
}

.tabs .active {
  background-color: var(--grey-30);
  border-bottom: 4px solid var(--blue-50);
}

.tabs .active:hover {
  background-color: var(--grey-30);
  border-bottom: 4px solid var(--blue-50);
}

.shadow-10 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.shadow-20 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.shadow-30 {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.text-success {
  color: var(--green-50);
}

.text-danger {
  color: var(--red-50);
}

.user-select-none {
  -moz-user-select: none;
}

.w-10 {width: 10%}
.w-20 {width: 20%}
.w-30 {width: 30%}
.w-40 {width: 40%}
.w-50 {width: 50%}
.w-60 {width: 60%}
.w-70 {width: 70%}
.w-80 {width: 80%}
.w-90 {width: 90%}
.w-100 {width: 100%}
